body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    height: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: white;
}

a:visited {
    color: rgb(200, 0, 0);
}

header p {
    font-size: 22px;
    margin-left: 10px;
    margin-top: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p, h4, a {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    border-bottom: solid 1px grey;
    background-color: #222526;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

div {
    display: flex;
    justify-content:space-around;
    overflow-x: scroll;
    padding-bottom: 50px;   
}

table {
    border-collapse: separate;
    border-spacing: 10px 0;
}

th {
    text-align: left;
}

td {
    text-align: start;
    vertical-align: top;
    padding: 10px;
    margin: 0;
    background-color: rgba(128, 0, 0, 0.25);
}

#Titulo td p {
    color: rgb(153, 153, 153);
}

#Imagem img {
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), 
                box-shadow 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

#Imagem img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 0, 0, 1);
    cursor: pointer;
}

#Imagem td {
    height: 400px;
    width: 250px;
    padding: 0px;
    border-radius: 5px 5px 0 0;
}

#Imagem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#Saiba-Mais td {
    border-radius: 0px 0px 5px 5px;
    padding-left: 10px;
    margin: 0;
}

footer {
    border-top: solid 1px grey;
    background-color: #222526;
    padding: 10px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}